<%= render "layouts/top-menu" %>
<div class="row" style="margin-top: 12.5%">
  <div class="col-xs-9">
    <div class="well" style="min-height: 339px">
      <% if current_user.first_name.nil? %>
          <h1><%= t('Just complete your profile') %></h1>
          <h2 style="color: #3c2d23"><%= t('And you can chat') %></h2>
      <% else %>
          <h1><%= t('Edit profile ') %></h1>
          <h2 style="color: #3c2d23"><%= t('Change your data') %></h2>
      <% end %>
    </div>
  </div>
  <div class="well center-block col-xs-3">
    <%= form_for(@user, url: {action: "user_profile"}) do |f| %>
        <div class="field center">
          <%= f.label t :first_name %> <br/>
          <%= f.text_field :first_name, :required => true %>
        </div>
        <div class="field center">
          <%= f.label t :last_name %> <br/>
          <%= f.text_field :last_name, :required => true %>
        </div>
        <div class="field center">
          <%= f.label t :country %> <br/>
          <%= f.text_field :country, :required => true %>
        </div>
        <div class="field center">
          <%= f.label t :city %> <br/>
          <%= f.text_field :city, :required => true %>
        </div>
        <div class="field center">
          <%= f.label t :avatar %>
          <%= f.file_field :avatar %>
        </div>
        <br/>
        <div class="actions center">
          <%= f.submit t("Save"), :class => 'btn btn-success btn-sm' %>
        </div>
    <% end %>
  </div>
</div>